body {
  font: 14px/18px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  padding: 1em;
}

.invisible {
  display: none;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.emoji {
  display: inline-block;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px dashed gray;

  img {
    height: 80px;
  }
}
